@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
body{
    background-color:#88bdad;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color:#2558d8;
    background-color:#1ce437;
    font-size: 6rem;
    font-family: 'Vampiro One', cursive;
    font-weight: 600;
    font-style: normal;
}
h2{
    color:#2558d8;
    font-size: 6rem;
    font-family: 'Vampiro One', cursive;
    font-weight: 600;
    font-style: normal;
}
header{
    background-color:#bd8888;
    color:#25d825;
}
button{
    color: #000;
}
div{
    color: #1c26e4;
    background-color:#bd0aca;
}
.contenedor{
    color: chocolate;
    background-color:#adcf19;
}